.Github-button {
    background-color: rgb(46, 164, 79);
    border: none;
    border-radius: 8px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow, 0.15s
  }

  .Github-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)
  }