.Github-button{
  background-color: rgb(121, 82, 179);
  color: white;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color,1s

}

.Github-button:hover{
  background-color:  rgb(122, 51, 193)
  

}


 .Bootstrap-button {
    background-color: white;
    color: rgb(108, 117, 125);
    border-color:rgb(108, 117, 125);
    border-style: solid;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
    cursor:pointer;
    transition:background-color, 0.15s, color, 0.15s
  }

  .Bootstrap-button:hover{
    color:white;
    background-color: rgb(108, 117, 125);
  }