.model-name{
  font-weight: bold;
  font-family: Montserrat;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
}

.order{
  margin-top: 10px;
  font-family: Montserrat;
  margin-bottom: 0px;
  text-align: center;

}


