 .Back-button{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 8px;
    cursor: pointer;
  }
  .numOne{
    margin-right: 8px;
  }

  .numTwo{
     margin-right: 8px;
  }

  .numThree{
    margin-right: 8px;
  }

  .numFour{
     margin-right: 8px;
  }

.numFive{
  margin-right: 8px;
}

.Next-button{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 8px;
  cursor: pointer;
  margin-right: 15px;
}

.stretch-button{
  
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: green;
  color: white;
  border: none;
  transition: padding-top, 0.15s, padding-bottom, 0.15s, padding-left, 0.15s,padding-right, 0.15s;
  cursor: pointer;
  margin-right: 30px;
}

.stretch-button:hover{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
}

.Shadow-button{
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: green;
  color: white;
  border: none;
  cursor:pointer;
  margin-right: 30px;
  
}

.Shadow-button:active{
 margin-left: 2px;
 margin-top: 5px;
 box-shadow:none;

}

.One {
  cursor: pointer;
  border: none;
  font-size: 15px;
  background-color: green;
  color: white;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  transition: padding-left, 0.15s, padding-right, 0.15s;

}

.One:hover {
  padding-left: 20px;
  padding-right: 20px;
}